@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	overflow: hidden;
	margin: 0;
	background-color: #000000d3;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	display: flex;
	padding: 0 20px;
}

.slide {
	height: 80vh;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: #fff;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 500ms ease-in-out;
}

.slide h3 {
	position: absolute;
	bottom: 20px;
	left: 15px;
	margin: 0;
	font-size: 36px;
	font-weight: 800;
	opacity: 0;
	color: rgb(255, 255, 255);
}

.slide.active {
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5),
		0px 0px 15px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.5);
	border: 2px solid #f0f0f0;
	flex: 10;
}

.slide.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in-out 0.5s;
}
